@import url("./reset.css");
@import url("https://fonts.google.com/share?selection.family=Roboto:wght@400;700");
.body {
  font-family: Roboto, sans-serif;

  background-image: url("../img/background-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}
.container {
  width: 1028px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 17px;
}
.header__logo {
  display: flex;
  align-items: flex-end;
}
.white-house {
  display: block;
}
.red-house {
  display: none;
}
.header__logo:hover .white-house {
  display: none;
}
.header__logo:hover .red-house {
  display: block;
}
.header__logo:hover .logo__text  {
  color: #f26522;
}
.logo__text {
  margin-left: 8px;
}
.text__milan {
  font-weight: 700;
  font-size: 29px;
  line-height: 1.2;
  width: 140px;
}
.text__holidays {
  font-size: 18px;
  line-height: 1.2;
  width: 135px;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.contacts__link:hover {
  color: #f26522;
  transition: 1s;
}
.tours__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 61px;
  grid-row-gap: 78px;
  margin-bottom: 90px;
}
.tours__list li {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, white, black, white, black);
}

.tours__item {
  max-width: 300px;
  height: 220px;
  position: relative;
  cursor: pointer;
}

.tours__item img {
  overflow: hidden;
  position: relative;
  display: flex;
}

.tours__item p {
  margin-top: 20px;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}

.tours__item:hover p {
  color: #f26522;
  transition: 1s;
}

.tours__img {
  position: relative;
  display: flex;
  overflow: hidden;
}

.hidden__details {
  text-align: left;
  background-color: #f26522;
  width: 300px;
  height: 55px;
  position: absolute;
  display: none;
  top: 165px;
  margin-left: 2px;
  transform: translateY(100%);
  animation: ani 1s forwards;
  opacity: 1;
}

@keyframes ani {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

.hidden__details h3 {
  margin-left: 19px;
  margin-top: 7px;
  font-size: 10px;
  line-height: 1;
}

.hidden__details span {
  font-size: 20px;
  line-height: 20px;
  bottom: 12px;
  position: absolute;
}

.hidden__details a {
  font-size: 14px;
  line-height: 14px;
  margin-left: 180px;
  bottom: 12px;
  position: absolute;
}

.tours__item:hover .hidden__details {
  display: block;
}

.hidden__details::after {
  content: "";
  background: url("../img/Vector1.svg") center center/cover no-repeat;
  height: 10px;
  width: 5px;
  position: absolute;
  right: 16px;
  bottom: 14px;
}

.footer__text {
  align-items: center;
  text-align: center;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 15px;
}
